/* <!-- 구글 폰트 --> */
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&family=Sunflower:wght@300&display=swap");

body {
  background-color: #f9f8f7;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.search-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
}

.search-item {
  display: inline-block; /*이렇게 하면, text가 됨.*/
  margin: auto 10px;
}

.search-box {
  width: 60%;
  border: 3px solid #555555;
}

.btn-success {
  background-color: #2579fe;
  border-color: #2579fe;
}

.btn-success:hover {
  background-color: #2579fe;
}

.content {
  text-align: center;
  padding-top: 15vh; /* 화면 기준으로, 15%*/
}

.main-header {
  font-family: "Sigmar One", cursive;
  font-size: 40px;
}

.item-list {
  display: grid;
  grid-row-gap: 5vh;
  grid-column-gap: 7vh;
  grid-template-columns: repeat(3, 1fr); /* grid : 한줄에 몇개 */
  /* background-color: #2196f3; */
  margin: 10vh 20vh;
}

.item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.item-img {
  width: 70%;
  height: 70%;
}

.result-title {
  text-align: left;
  font-size: 35px;
  margin-top: 10vh;
  margin-left: 20vh;
  font-family: "Sunflower", sans-serif;
}

.item-description {
  font-family: "Gothic A1", sans-serif;
}
