.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.search-body {
  text-align: center;
}

.search-item {
  display: inline-block;
  margin: auto 10px;
}

.search-box {
  width: 60%;
  border: 3px solid #555555;
}

.btn-success {
  background-color: #2579fe;
  border-color: #2579fe;
}

.btn-success:hover {
  background-color: #2579fe;
}
